<%= form_with(model: article, local: true) do |form| %>
  <div class='new-post'>
    <%form.label :body %>
    <%= form.text_area :body, class: 'new-post-body' %>
    <%= form.submit 'POST', class: 'new-post-btn btn btn-success'  %>
  </div>
<% end %>
