<h1 align='center'>Posts</h1>
<%flash.each do |name, msg| %>
  <div class='alert alert-<%=name%>' id="post-msg"><%=msg%></div>
<%end%>
<%= render 'form', article: @article %>
<div class='container posts'>
  <div class='post'>
    <% @articles.each do |article| %>
      <strong>
        <div id='user'>
          <%= article.user_name%>
        </div>
        <span id='post-date'>postado em: <%= article.created_at.strftime('%d/%b')%></span>
      </strong>
      <div id='content'>
        <p id='body'><%= article.body %></p>
      </div>
      <%if @current_user.id == article.user_id %>
        <div class='post-btn'>
          <%= link_to 'Show', article_path(article), class: 'btn btn-info' %>
          <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-dark'%>
        </div>
      <%else%>
        <div class='post-btn-show'>
          <%= link_to 'Show', article_path(article), class: 'btn btn-info' %>
        </div>
      <%end%>
    <% end %>
  </div>
</diav>
