<div class='container posts'>
	<div class='post'>
    <strong>
		  <div id='user'>
        <%= @article.user_name%>
      </div>
      <span id='post-date'>postado em: <%= @article.created_at.strftime('%d/%b')%></span>
    </strong>
    <div id='content'>
      <p id='body'><%= @article.body %></p>
    </div>
		<%if @current_user.id == @article.user_id %>
			<%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-dark post'%>
		<%end%>
	</div>
</div>
