<h1 align="center"> Seus Posts </h1>
<%flash.each do |name, msg| %>
  <div class='alert alert-<%=name%>' id="post-msg"><%=msg%></div>
<%end%>
<%= render 'form', article: @article %>

<% if @articles == nil%>
	Você não possui nenhum post
<%else%>
	<div class='container posts'>
		<% @articles.each do |article| %>
		 <div class='post'>
		 	<div id='post-date-user'>
		 		postado em: <%= article.created_at.strftime('%d/%b')%>
		 	</div>
		 	<div id='content'>
	        	<p id='body'><%= article.body %></p>
	        </div>
	        <div class='post-btn'>
        		<%= link_to 'Show', article_path(article), class: 'btn btn-info' %>
        		<%if @current_user.id == article.user_id %>
          		<%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-dark' %>
          		<%end%>
      			</div>

		<%end%>
	</div>
<%end%>

