<div class='container login'>
  <h1 id='new-label'><strong>Nova Conta</strong></h1>
  <%= form_with model: user, local: true do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> Não foi possível criar este usuário:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.text_field :name, :placeholder => "Name", class: 'form-field'%>
    <%= form.email_field :email, :placeholder => "Email", class: 'form-field' %>
    <%= form.password_field :password, :placeholder => "Password", class: 'form-field'%>
    <%= form.submit 'Sign Up', class: 'btn btn-info signup'%>
  <% end %>
    <a><%= link_to 'Back', login_path, class: 'btn btn-danger back'%></a>
</div>
