<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <h1 align='center' id='tZombies'>TWITTER FOR ZOMBIES</h1>
    <% if current_user %>
      <ul style="list-style-type: none;">
        <li id='welcome' class='alert alert-success'>Bem vindo de volta, <%= current_user.name %>!</li>
      </ul>
      <div class='menu'>
        <%= link_to "Seus Posts", '/your_posts', class: 'btn btn-info'%>
        <%= link_to "Todos Posts", articles_path, class: 'btn btn-warning'%>
        <%= link_to "Log out", logout_path, method: "delete", class: 'btn btn-danger'%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>