<p id="notice" align="center"><%= notice%></p>
<div class='container login'>
	<h1 id='login-label'><strong>Login</strong></h1>
	<%= form_for(:session, url: login_path) do |f| %>

		 <%= f.email_field :email, :placeholder => "Email", class: 'form-field' %>
	  	<br>
	  	 <%= f.password_field :password, :placeholder => "Senha", class: 'form-field' %>
	  	<br>
	  	<%= f.submit "Sign in", class: "btn-login" %>
	  	<a><%= link_to "Signup", '/signup', class: 'btn btn-info signup' %></a>
	<% end %>
</div>