/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#post-msg{
	width: 250px;
	margin-left: 600px;
	text-align: center;

}
#error_explanation_post{
	margin-left: 600px;
	margin-bottom:20px;
}
#notice{
	font-size: 20px;
	font-weight: 700;
	margin-top: 30px;
}
 #new-label{
 	margin-left: 190px;
 }
 .btn.btn-info.signup{
 	padding: 10px;
	border-radius: 5px;
	width: 300px;
	margin-top: 10px;
	margin-left: 130px;
 }

#login-label{
	margin-left: 230px;
}
.form-field{
	width: 300px;
	height: 40px;
	margin-left: 130px;
	margin-top: 10px;
}

.btn.btn-danger.back{
	margin-left: 130px;
}

.btn.btn-dark.post{
	margin-top: 10px;
	margin-left: 400px;
}
 .container.login{
 	position: absolute;
 	margin-left: 410px;
 	width: 600px;
 	min-height: 390px;
 	background-color:#ececec;
 	padding-top: 50px;
 	margin-top: 50px;
 	padding-bottom: 100px;
 }

.btn-login{
	padding: 10px;
	border-radius: 5px;
	width: 300px;
	background-color: #199619;
	margin-top: 20px;
	margin-left: 130px;

}

#welcome{
	position: absolute;
	margin-top: 10px;
	margin-left: 20px;

}
/* Pretendia colocar apenas selector .btn para todos, mas não seleciona todos os 'btn' e o warning não se comporta como os outros sem declarar
o hover para ele */
.btn.btn-info {
	margin: 10px;
	color: black;
}

.btn.btn-danger{
	margin: 10px;
	color: black;
}

.btn.btn-warning {
	color: black;
}

.btn.btn-dark {
	color: #e0e0e0;
}
.btn.btn-warning:hover {
	color:white;
}

.menu{
	margin-left: 530px;
	color: black;
}

.container.posts{
	padding-top: 30px;
	width: 600px;
	min-height: 400px;
	background-color: #ececec;
}

#user{
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 400px;
	background-color: #d3d3d3;
	position: relative;
	margin-left: 80px;
	margin-top: 10px;

}

#post-date{
	position: absolute;
	font-size: 13px;
	font-weight: 500;
	color:#323232;
	margin-top: -30px;
	margin-left: 330px;
}

#post-date-user{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 400px;
	font-size: 12px;
	font-weight: 700;
	background-color: #d3d3d3;
	position: relative;
	margin-left: 80px;
	margin-top: 10px;
}


#content{
	overflow: hidden;
	position: relative;
	margin-left: 80px;
	padding: 15px;
	background-color: white;
	width: 400px;
	min-height: 5px;
	max-height: 100px;
	word-wrap: break-word;
}

.post-btn{
	margin-left: 300px;
}

.post-btn-show{
	margin-left: 400px;
	padding-bottom: 20px;
}

.new-post{
	margin-left: 430px;
	margin-top: 50px;
}

.new-post-btn.btn.btn-success{
	margin-left: 5px;
	padding: 12px;
	margin-bottom: 50px;
}
.new-post-body{
	width: 500px;

}

#tZombies{
	font-weight: 700;
	margin-top:20px;
}